**docker/docker-monolith/infra/terraform/.terraform
*docker/docker-monolith/infra/terraform/.terraform.lock.hcl
*docker/docker-monolith/infra/terraform/terraform.tfstate
*docker/docker-monolith/infra/terraform/terraform.tfstate.backup
*docker/docker-monolith/infra/terraform/terraform.tfvars
*docker/.env
