**docker-monolith/infra/terraform/.terraform
*docker-monolith/infra/terraform/.terraform.lock.hcl
*docker-monolith/infra/terraform/terraform.tfstate
*docker-monolith/infra/terraform/terraform.tfstate.backup
*docker-monolith/infra/terraform/terraform.tfvars
*src/.env
